# [Prof. Dalvan Griebler](mailto:dalvan.griebler@pucrs.br)

## Programação Orientada a Dados (POD) - Turma 10 (POD_98H04-06)

**Atualizado**: 17/11/2022

**Descrição**: Trabalho Individual: Manipulação, Análise e Visualização Vetorial e Tabular de Dados

**Copyright &copy;**: Este documento está sob a licensa da Criative Commons [BY-NC-ND 4.0](https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode)

**_Atenção: Pontuação extra para quem explicar como funcionam as partes dos códigos para resolver cada questão através de comentário do Python (`#`)._**

**_Atenção: O resultado deverá ser igual ao resultado esperado._**

### Trabalho realizado por:

Gabriela Dellamora Paim - 2210768-5

# Bibliotecas Autorizadas

Não importe outras bibliotecas além destas, pois não estão autorizadas para o uso.

In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from PIL import Image

# Parte-1: Manipulação de Dados Vetorial e Geração de Gráficos Simples

_Atenção: não será permitido o uso de laços nesta parte do trabalho sobre manipulação vetorial._

## 1. Crie um array 2D `shape(10,10)`  e realize operações de indexação e fatiamento para obter o seguinte resultado.

```bash
   [[ 1.,  2.,  3.,  5.,  5.,  5.,  5.,  5.,  5.,  5.],
    [ 2.,  1.,  2.,  3., 10., 10., 10., 10., 10., 10.],
    [ 3.,  2.,  1.,  2.,  3., 15., 15., 15., 15., 15.],
    [ 5.,  3.,  2.,  1.,  2.,  3., 20., 20., 20., 20.],
    [ 5., 10.,  3.,  2.,  1.,  2.,  3., 25., 25., 25.],
    [ 5., 10., 15.,  3.,  2.,  3.,  2.,  3., 30., 30.],
    [ 5., 10., 15., 20.,  3.,  2.,  3.,  2.,  3., 35.],
    [ 5., 10., 15., 20., 25.,  3.,  2.,  3.,  2.,  3.],
    [ 5., 10., 15., 20., 25., 30.,  3.,  2.,  3.,  2.],
    [ 5., 10., 15., 20., 25., 30., 35.,  3.,  2.,  3.]]
    
```

In [ ]:
"""
fatiamento diagonal
primeiro checar padrão
usar fatiamento e indexação para preencher os valores
array.fill_diagonal() é um método útil!
Não utilizar laços :(
aprender a usar os métodos disponíveis no pd e np
"""

In [69]:
def change_values(array:np.ndarray, size:int, value:int=50):
    """Função recursiva para modificar os valores da matriz proposta para o TI2.
    size-=1 pois índice começa em zero (e essa operação é reaproveitada na recursão).
    
    Se size < 0, então chegamos no fim da matriz
    
    retorna
    
    senão:
    
    toda coluna (size:int) será (value:int)
    
    toda linha (size:int) será (value:int)
    
    retorna recursão, recebendo value=value-5

    Args:
        array (np.ndarray): array que iremos trabalhar com
        size (int): tamanho do array que iremos trabalhar com
        value (int, optional): valor que vamos começar a contagem

    Returns:
        _type_: retorna um np.array com toda linha i e toda coluna i do mesmo valor, para todos os i presentes no size do array.
    """
    size-=1
    if size < 0:
        return
    else:
        array[:, size] = value
        array[size,:] = value
    return change_values(array, size=size, value=(value-5))

In [64]:
def get_bigger(array:np.ndarray, size:int):
    #print(len(array))
    if len(array) == size:
        return array
    else:
        #print('I\'m working!')
        aux_row = np.zeros(shape=(1, len(array)))
        array = np.vstack([aux_row, array])
        
        aux_column = np.zeros(shape=(len(array), 1))
        array = np.hstack([array, aux_column])
        #print(array)
    return get_bigger(array=array, size=size)

In [110]:
a = np.zeros(shape=(8,8)) #Criando uma array de 2 dimensões, 10x10 preenchida por zeros.
np.fill_diagonal(a=a, val=3) #filling diagonal com valor 3

b = np.zeros(shape=(9,9)) #Criando uma array de 2 dimensões, 9x9 preenchida por zeros.
np.fill_diagonal(a=b, val=2) #filling diagonal com valor 2

c = np.zeros(shape=(10,10)) #Criando uma array de 2 dimensões, 10x10 preenchida por zeros.
np.fill_diagonal(a=c, val=1) #filling diagonal com valor 1

array = np.zeros(shape=(10,10)) #Criando uma array de 2 dimensões, 10x10 preenchida por zeros.


a = get_bigger(array=a, size=10)
b = get_bigger(array=b, size=10)
 
a = np.add(a,b)
c = np.add(a,c)
aux = np.flip(m=a, axis=0)
aux = np.flip(m=aux, axis=1)
c = np.add(c, aux)
#listra vertical pronta!

result = np.concatenate((c))



change_values(array=array, size=len(array)) #modificando valores da array
display(c) 
display(array)

array([[1., 2., 3., 0., 0., 0., 0., 0., 0., 0.],
       [2., 1., 2., 3., 0., 0., 0., 0., 0., 0.],
       [3., 2., 1., 2., 3., 0., 0., 0., 0., 0.],
       [0., 3., 2., 1., 2., 3., 0., 0., 0., 0.],
       [0., 0., 3., 2., 1., 2., 3., 0., 0., 0.],
       [0., 0., 0., 3., 2., 1., 2., 3., 0., 0.],
       [0., 0., 0., 0., 3., 2., 1., 2., 3., 0.],
       [0., 0., 0., 0., 0., 3., 2., 1., 2., 3.],
       [0., 0., 0., 0., 0., 0., 3., 2., 1., 2.],
       [0., 0., 0., 0., 0., 0., 0., 3., 2., 1.]])

array([[ 5.,  5.,  5.,  5.,  5.,  5.,  5.,  5.,  5.,  5.],
       [ 5., 10., 10., 10., 10., 10., 10., 10., 10., 10.],
       [ 5., 10., 15., 15., 15., 15., 15., 15., 15., 15.],
       [ 5., 10., 15., 20., 20., 20., 20., 20., 20., 20.],
       [ 5., 10., 15., 20., 25., 25., 25., 25., 25., 25.],
       [ 5., 10., 15., 20., 25., 30., 30., 30., 30., 30.],
       [ 5., 10., 15., 20., 25., 30., 35., 35., 35., 35.],
       [ 5., 10., 15., 20., 25., 30., 35., 40., 40., 40.],
       [ 5., 10., 15., 20., 25., 30., 35., 40., 45., 45.],
       [ 5., 10., 15., 20., 25., 30., 35., 40., 45., 50.]])

## 2. Para o seguinte array, calcule: 
- Médias das diagonais principal e secundária.
- Média das linhas e coluna para posteriomente plotar um gráfico de linhas.

```python
 np.array([[ 44,  70,  98,  63,  30,  96,  26,  94,  20,  67],
       [ 22,  79,  53,  16,  46,  63,  45,  61,  66,  10],
       [ 71,  96,  68,  14,  86,  99,   1,  44,  66,  20],
       [ 92,  40,   0,  12,  91,   1,   9,  19,  60,   5],
       [ 53,  46,  65,  73,  29,   0,  89, 100,  13,  78],
       [ 81,  16,  21, 100,  36,  51,  38,  85,  90,  35],
       [ 91,  70,   8,  20,  60,  40,  14,  16,   0,  19],
       [ 87,  10,  24,  40,  62,   5,  32,  28,  69,  29],
       [ 94,  88,  40,   4,  85,  61,  30,  68,  63,  61],
       [ 74, 100,  34,  88,   0,  12,  61,  32,  10,  46]])
```

**Resultado esperado:**

Média diagonal principal:  43.4

Média diagonal secundária:  42.8


![](fig-ti2-ex2.png)

# Parte-2: Manipulação de Dados Tabular

## 3. Forneça um único DataFrame a partir dos dados contidos em `cars_info.csv` e `cars_valores.csv`. Depois salve o DataFrame em um arquivo chamado `cars.csv` para reusar nas próximas questões.

_Obs: Para quem usar laços nesta questão, terá um desconto de 25% na nota._


**Resultado Esperado do DataFrame:**
```bash
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4340 entries, 0 to 4339
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype 
---  ------         --------------  ----- 
 0   ID             4340 non-null   int64 
 1   name           4340 non-null   object
 2   fuel           4340 non-null   object
 3   seller_type    4340 non-null   object
 4   transmission   4340 non-null   object
 5   owner          4340 non-null   object
 6   year           4340 non-null   int64 
 7   selling_price  4340 non-null   object
 8   km_driven      4340 non-null   int64 
dtypes: int64(3), object(6)
```

## 4 - Adicione o campo `marca` no `cars.csv` e corrija os dados.

_Obs: o valor do campo marca deve ser extraído de uma coluna do próprio dataset_

_Obs: Atente-se aos dados faltantes no campo selling-price, eles devem ser preenchidos com a média de preço dos carros da mesma marca_

**Resultado Esperado do DataFrame:**


```bash
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype 
---  ------         --------------  ----- 
 0   ID             4340 non-null   int64 
 1   name           4340 non-null   object
 2   fuel           4340 non-null   object
 3   seller_type    4340 non-null   object
 4   transmission   4340 non-null   object
 5   owner          4340 non-null   object
 6   year           4340 non-null   int64 
 7   selling_price  4340 non-null   int64 
 8   km_driven      4340 non-null   int64 
 9   marca          4340 non-null   object
dtypes: int64(4), object(6)
```

## 5- Mostre a diferença de preço de venda entre `First Owner` e `Second Owner` dos top 5 marcas mais caras pelo preço médio em gráfico de barras do dataset `cars.csv`.

**Resultado Esperado**

![](fig-ti2-ex5.png)

## 6- Mostre em gráfico de pizza (`Axes(1,2)`) com os 5 anos de maior número de vendas de carros usados (`Second Owner`) e maior número de vendas de carros novos (`First Owner`).

**Resultado Esperado**

![](fig-ti2-ex6.png)

## 7. Para a base de dados `cars.csv`, apresente dois gráficos `boxplot`  (`Axes(1,2)`) do valor de `km_driven`, sendo um para os 5 mais vendidos como `First Owner` e outro para os 5 mais vendidos como `Second Owner`.

**Resultado Esperado**

![](fig-ti2-ex7.png)